@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--now {
  background-color: rgb(237, 237, 237) !important;
  color: black !important;
}

.react-calendar__tile--active {
  background-color: rgb(201, 249, 249) !important;
  color: black !important;
}
